body {
  font-family: Arial;
}
.thing {
  padding: 5px;
}
.thing.ng-enter {
  transition: 900ms ease all;
  max-height: 0px;
  color: #fff;
  position: relative;
  left: -100px;
}
.thing.ng-enter-active {
  max-height: 50px;
  color: #008000;
  left: 0px;
}
.thing.ng-leave {
  transition: 900ms ease all;
  max-height: 50px;
  color: #f00;
  position: relative;
  left: 0px;
}
.thing.ng-leave-active {
  max-height: 0px;
  color: #fff;
  left: -100px;
}
